.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); /* Subtract header height */
  padding: 30px;
}

.content-box {
  text-align: center;
}

.content-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content-box p {
  font-size: 18px;
}
