.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.spacer {
  flex: 1;
}

.logo-left,
.logo-right {
  flex: none;
  font-weight: bold;
}
.content-right{
  display: flex;
  align-items: center;
  width: 240px;
}

.footballers ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footballers li {
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.footballers li:hover {
  color: #007bff;
}
