<header class="header">
  <div class="logo-left">
    <img rel="icon" type="image/x-icon" ngSrc="favicon.ico" height="30" width="28" alt=""/>
  </div>
  <div class="spacer"></div>
  <div class="content-right">
  <div class="footballers">
    <ul>
      @for (player of footballers; track player){
        <li>
          <a (click)="selectPlayer(player)">{{ player.name }}</a>
        </li>
      }
    </ul>
  </div>
  <div class="logo-right">
    <img rel="icon" type="image/x-icon" ngSrc="favicon.ico" height="30" width="28" alt=""/>
  </div>
  </div>
</header>
