header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 999;
}

.left, .right {
  flex: none; /* Pour empêcher le rétrécissement des éléments */
  width: 10px;
  height: 10px;
}

.middle {
  flex: 1; /* Pour occuper tout l'espace restant au milieu */
}
